* {
	background-color: gainsboro;
}

[data-tooltip]{
	position: relative;
}

[data-tooltip]::after{
	content: attr(data-tooltip);
	position: absolute;
	/* width: 90px; */
	height: 15px;
	padding-top: 2.5px;
	left: 0;
	top: -20px;
	border-radius: 5px;
	/* bottom: 10px; */
	background-color: violet;
	transition: all 1.5s ease;
	opacity: 0;
	text-align: center;
	font-size: 10px;
	color: white;
}

[data-tooltip].add-button::after{
	width: 50%;
	left: 25%;
}

[data-tooltip].decrease-button::after{
	width: 170%;
	left: -35%;
}

[data-tooltip].increase-button::after{
	width: 170%;
	left: -35%;
}

[data-tooltip].manage-good-buy-button::after{
	width: 50%;
	left: 25%;
}

[data-tooltip].manage-good-cancel-button::after{
	width: 250%;
	left: -75%;
}

[data-tooltip]:hover::after{
	opacity: 1;
}

.classic-div{
	box-sizing: border-box;
	background-color: white;
}

.container{
	box-sizing: border-box;
	margin: auto;
	width: 850px;
	height: 300px;
	margin-top: 5%;
}

.customer-interaction{
	float: left;
	width: 60%;
	height: 100%;
	margin-right: 5%;
	/* background-color: blue; */
}

.display-results{
	float: left;
	width: 35%;
	height: 100%;
	/* background-color: yellow; */
}

.cap{
	height: 50px;
	width: 100%;
	padding: 15px 15px 15px 15px;
	font-size: 20px;
	font-weight: bold;
}

.goods-left{
	height: 60px;
	width: 100%;
	padding: 15px 15px 15px 15px;
}

.goods-bought{
	background-color: white;
	width: 100%;
	height: 30px;
	margin-top: 1px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.good-box{
	display: inline-block;
	background-color: #E8E8E8;
	height: 16px;
	padding: 7px 7px 7px 7px;
	font-size: 16px;
	font-weight: 700;
	color: rgba(0,0,0,.6);
	border-radius: 4px;
}

.dot{
	float: left;
	margin-left: 2px;
	background-color: #F2711C;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	height: 12px;
	width: 12px;
	padding: 3px 3px 3px 3px;
	color: white;
	font-size: 12px;
}

.add-panel{
	height: 70px;
	width: 100%;
	padding: 15px 15px 15px 15px;
	border-top-left-radius: 4.5px;
	border-top-right-radius: 4.5px;
}

.input-style{
	box-sizing: border-box;
	padding-left: 15px;
	height: 100%;
	width: 70%;
	float: left;
	border: 1px solid rgba(34,36,38,.15);
	background-color: white;
}

.add-button{
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 30%;
	background-color: #2185D0;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
	color: white;
	font-weight: 700;
	font-size: 20px;
}

.manage-good-wrapper{
	margin-top: 1px;
	height: 57px;
	width: 100%;
	padding: 3.5px 0px 3.5px 0px;
}

.manage-good-name{
	box-sizing: border-box;
	float: left;
	background-color: inherit;
	height: 100%;
	width: 30%;
	padding: 15px 15px 15px 15px;
	color: rgba(0,0,0,.87);
}

.manage-good-control-number{
	box-sizing: border-box;
	float: left;
	background-color: inherit;
	height: 100%;
	width: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.decrease-button{
	box-sizing: border-box;
	float: left;
	background-color: #DB2828;
	opacity: 0.5;
	height: 30px;
	width: 30px;
	padding: 0px 0px 7px 0px;
	border: none;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 23px;
}

.increase-button{
	box-sizing: border-box;
	float: left;
	background-color: #21BA45;
	height: 30px;
	width: 30px;
	padding: 0px 0px 0px 0px;
	border: none;
	border-radius: 50%;
	box-shadow: 0 -0.15em 0 0 rgba(34,36,38,.15) inset;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 17px;
}

.manage-good-display-number{
	box-sizing: border-box;
	float: left;
	height: 25px;
	width: 25px;
	margin: 2.5px 5px 2.5px 5px;
	background-color: #E8E8E8;
	border-radius: 2px;
	text-align: center;
	color: rgba(0,0,0,.6);
	font-weight: 700;
	font-size: 20px;
}

.manage-good-action{
	box-sizing: border-box;
	float: left;
	background-color: inherit;
	height: 100%;
	width: 30%;
	padding: 10px 15px 10px 0px;
}

.manage-good-cancel-button{
	box-sizing: border-box;
	float: right;
	background-color: #DB2828;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -0.2em 0 0 rgba(34,36,38,.15) inset;
	text-align: center;
	color: white;
	font-weight: 700;
}

.manage-good-buy-button{
	box-sizing: border-box;
	float: right;
	background-color: #F8F8F8;
	height: 30px;
	width: 65px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
	text-align: center;
	color: rgba(0,0,0,.6);
	font-weight: 700;
	font-size: 13px;
}

.badge{
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	left: 5%;
	height: 80px;
	width: 150px;
	padding: 22.5px 20px 22.5px 20px;
	border: none;
	background-color: darkviolet;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: all 1s ease;
	/* text-align: center; */
	font-weight: 800;
	font-size: 30px;
	color: white;
	vertical-align: middle;
}

.badge:hover{
	height: 130px;
	background-color: blue;
}

.badge-label{
	background-color: inherit;
}

.author-revelation{
	box-sizing: border-box;
	position: absolute;
	bottom: 17.5px;
	left: 20px;
	background-color: inherit;
	height: 50px;
	width: 110px;
	display: none;
}

.badge:hover .author-revelation{
	display: block;
}

.created-by-label{
	background-color: inherit;
	color: white;
	font-size: 15px;
	font-weight: 500;
}

.my-name-label{
	background-color: inherit;
	margin-top: 5px;
	color: white;
	font-size: 15px;
	font-weight: 700;
}

@media print{
	.badge{
		background-color: white;
		border-style: solid;
		border-width: 2px;
		border-color: darkviolet;
		color: black;
	}
	
	.badge-label{
		display: none;
	}
	
	.author-revelation{
		display: block;
	}
	
	.created-by-label{
		color: black;
		font-size: 15px;
		font-weight: 400;
	}
	
	.my-name-label{
		margin-top: 5px;
		color: black;
		font-size: 15px;
		font-weight: 600;
	}
}

@media (max-width: 500px){
	.container{
		min-width: 430px;
		width: 95%;
	}
	
	.customer-interaction{
		width: 100%;
		height: 300px;
	}

	.display-results{
		width: 100%;
	}
}